{{define "content"}}
<main>  

  <form action="/auth/register" method="POST">
    <h1 class="h3 mb-3 fw-normal">{{ .title}}</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="email" name="email">
      <label for="email">Email Address</label>
    </div>
    <div class="form-floating">
      <input type="name" class="form-control" id="name" placeholder="name" name="name">
      <label for="name">User Name</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="password" name="password">
      <label for="password">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passwordConfirm" placeholder="passwordConfirm" name="passwordConfirm">
      <label for="passwordConfirm">Password Confirm</label>
    </div>
    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">Remember me</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    <br/>
    <hr/>
    <h1 class="h3 mb-3 fw-normal">Or Register with</h1>
      <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
        <svg class="bi me-1" width="16" height="16"><use xlink:href="#google"/></svg>
        Google
      </button>
      <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
        <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>
        Facebook
      </button>
      <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
        <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
        GitHub
      </button>

    <tr>
      <td><a href="/auth/getlogin">Login</a></td><br>
    </tr>
    
  </form>

</main>

<!-- </main> -->

{{end}}